<div class="tickets-container">
  <div class="table-container">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Imię</th>
              <th scope="col">Nazwisko</th>
              <th scope="col">Firma</th>
              <th scope="col">Adres e-mail</th>
              <th scope="col">Status</th>
              <th scope="col">Akcja</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let waitingUser of waitingUserDtos"> 
              <td *ngIf="waitingUser.status === 'WAIT_FOR_APPROVAL'">{{waitingUser.firstName}}</td>
              <td *ngIf="waitingUser.status === 'WAIT_FOR_APPROVAL'">{{waitingUser.lastName}}</td>
              <td *ngIf="waitingUser.status === 'WAIT_FOR_APPROVAL'">{{waitingUser.companyName}}</td>
              <td *ngIf="waitingUser.status === 'WAIT_FOR_APPROVAL'">{{waitingUser.email}}</td>
              <td *ngIf="waitingUser.status === 'WAIT_FOR_APPROVAL'">{{determineUserStatus(waitingUser.status)}}</td>
              <td *ngIf="waitingUser.status === 'WAIT_FOR_APPROVAL'">
                  <button class="accept-button" (click)="acceptUser(waitingUser.id)">
                      Zaakceptuj
                  </button>
                  <button class="decline-button" (click)="declineUser(waitingUser.id)">
                      Odrzuć
                  </button>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>