<div class="main-container">

    <div class="home-screen">
        <div class="left-section">
            <div class="home-header-section">
                <h1>Zarezerwuj swoje miejsce już dziś!</h1>
            </div>
            <div class="home-paragraph-section">
                <p>
                    Nie przejmuj się brakiem dostępnego biurka dla wszystkich członków Twojego zespołu,<br>
                    zarezerwuj je już teraz!
                </p>
                <button class="home-screen-button-login" [routerLink]="['/login']" routerLinkActive="router-link-active" >Zaloguj się</button>
                <button class="home-screen-button-register" [routerLink]="['/register']" routerLinkActive="router-link-active" >Załóż konto</button>
            </div>
        </div>
        <div class="right-section">
            <div class="home-header-section">
                <h1 class="text-logo">
                    gDesk
                </h1>
            </div>
            <div class="home-paragraph-section">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="home-screen-section-two">
        <div class="number-one">
            <div class="header-number">
                <h1 class="number">1</h1>
            </div>
            <div class="text-section">
                <div class="text">
                    Wybierz piętro
                </div>
                <div class="img">
                    <img class="img-fluid" width="30%" src="../../assets/scyscrapper.png">
                </div>
            </div>
        </div>
        <div class="number-two">
            <div class="header-number">
                <h1 class="number">2</h1>
            </div>
            <div class="text-section">
                <div class="text">
                    Wybierz miejsce na danym piętrze                
                </div>
                <div class="img">
                    <img class="img-fluid" width="30%" src="../../assets/desk.png">
                </div>
            </div>
        </div>
        <div class="number-three">
            <div class="header-number">
                <h1 class="number">3</h1>
            </div>
            <div class="text-section">
                <div class="text">
                    Zarezerwuj miejsce i wygeneruj kod QR
                </div>
                <div class="img">
                    <img class="img-fluid" width="30%" src="../../assets/QR_icon.png">
                </div>
            </div>
        </div>
    </div>
</div>