<div class="main-container">
    <button class="add-reservation-button margin-button" [routerLink]="['/pick-up-date-and-floor']" routerLinkActive="router-link-active" >Powróć</button>
    <div class="second-step">
        <h1 class="first-step-text">3) Wybierz biurko</h1>
        <p class="first-step-text">Wybierz biurko dla siebie lub kolegi z zespołu</p>

        <div class="sector">
            <h3>Sektor</h3>
            <select class="form-select" [(ngModel)]="chosenSector" id="select1">
                <option *ngFor="let availableSector of availableSectors" [value]="availableSector">{{availableSector}}</option>
            </select>
        </div>

        <div class="desk">
            <h3>Biurko</h3>
            <select class="form-select" [(ngModel)]="chosenDesk" id="select2">
                <option *ngFor="let availableDeskNumber of availableDeskNumbers" [value]="availableDeskNumber">{{availableDeskNumber}}</option>
            </select>
        </div>
    </div>

    <div class="third-step">
        <h1 class="first-step-text">4) Wybierz osobę</h1>
        <p class="first-step-text">Wybierz, dla kogo rezerwujesz miejsce</p>

        <select class="form-select" [(ngModel)]="emailAddressForPersonWhoWillGetReservation">
            <option *ngFor="let employee of employees"
                [value]="employee.email">
                {{employee.email}} / {{employee.firstName}} {{employee.lastName}}
            </option>
        </select>

        <hr>

        <button class="add-reservation-button" (click)="createReservation()">Zarezerwuj miejsce</button>
    </div>
</div>